/* ALL CONTENT */
.container {
    padding:20px;
}

/* name header */
#name-header {
    padding-left:20px;
    padding-right:520px;
    font-family: 'Scheherazade', serif;
    font-size:48px;
    letter-spacing:2px;
    text-transform:uppercase;
    color:#4d4d4d;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    letter-spacing:2px;
}

#content-container {
    background-color:white;
    border:5px solid lightgray;
}

.col-md-8 {
    padding:30px;
    background-color:white;
}

.content-header {
    font-family: 'Scheherazade', serif;
    letter-spacing:1px;
    text-transform:uppercase;
    font-size:32px;
    color:#4d4d4d;
}

.content {
    color:gray;
    font-family: 'Raleway', sans-serif;
}

/* sticky footer */
html {
    position:relative;
    min-height:100%;
}

body {
    margin-bottom:60px;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    font-family: 'Scheherazade', serif;
    background-color:#f5f5f5;
    color:#4d4d4d;
}

/* ABOUT ME PAGE */
/* profile image */
.rounded {
    width:200px;
    height:200px;
    margin-right:20px;
}

/* PORTFOLIO PAGE */
.portfolio-row {
    padding:20px;
}

.portfolio-box-text {
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
    color:#4d4d4d;
}

.portfolio-box-text:hover {
    text-decoration:none;
    background-color:#4d4d4d;
    color:white;
}

/* CONTACT PAGE */
.form-group {
    font-family: 'Raleway', sans-serif;
}

#submitbutton {
    font-family: 'Raleway', sans-serif;
    padding:5px 10px 5px 10px;

}

#submitbutton:hover {
    background-color:#4d4d4d;
    border:2px solid #4d4d4d;
    color:white;
}